[submodule "dot_config/external_nvim"]
	path = dot_config/external_nvim
	url = https://github.com/22ispencer/nvim-dotfiles.git
[submodule "dot_config/external_nvim/"]
	url = git@github.com:22ispencer/nvim-dotfiles.git
