[user]
	name = Isaac Spencer
	email = {{ .email }}
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://mandalore.hq.wsuniar.org"]
       provider = generic
[http]
       sslVerify
[http "https://mandalore.hq.wsuniar.org"]
       sslVerify = false
